/public_html/vendor
/public_html/assets/Uploads
/public_html/assets/_resampled
/public_html/assets/_combinedfiles
/public_html/themes/[THEME]/combinedfiles
/public_html/silverstripe-cache

/public_html/cms
/public_html/framework
/public_html/googlesitemaps
/public_html/gridfield-bulk-editing-tools
/public_html/gridfieldextensions
/public_html/sulverstripe-utils

# Ignore these files in Assets #
/public_html/assets/*.jpg
/public_html/assets/*.jpeg
/assets/*.png
/public_html/assets/*.gif
/public_html/assets/*.html

# Always ignore these files #
*.zip
*.exe
*.sql
*.tar
*.gzip
*.doc
*.docx
*.pdf
*.xls
*.xlsx
*.mp3
*.wav
*.mov
*.mp4
*.m4v
*.m4a
